nav {
	width:200px;
	height: 100%;
	display: align-block;
	float: left;
}
nav li{
	list-style: none;
	padding: 10pt;
}
.ads{background-color: black; color: #fff;height:50px;height:50px;padding:10pt;}
.content{
	width:80%;
	float: left;
	margin:auto;
	padding: 10pt;
	background-color:#eeeeee;
}
