<!doctype html>
<title>{{ data["title"] }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
<nav>
  <ul>
      <li><a href="{{ url_for('home') }}">Home</a>
      <li><a href="{{ url_for('blog') }}">Blog</a>
  </ul>
  {% if data["safe"] is sameas false %}
	<div class="ads">
		<p>I'm a ads</p>
	</div>
  {% endif %}
</nav>
<section class="content">
