{% include 'base.html' %}

<h1>Blog</h1>

<div class="blogs">
	<ul>
	  {% for article in data["articles"] %}
	    <li><a href="/blog#">{{ article["title"] }}</a></li>
	  {% endfor %}
	</ul>
</div>

{% include 'footer.html' %}
